/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #acacac96;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Estilo para el formulario */
.formulario form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.formulario input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para la tabla */
.tabla {
    width: 100%;
}

.tabla table {
    width: 100%;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.tabla th {
    background-color: #f2f2f2;
}

/* Estilos para los botones de la tabla */
.tabla a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.no-border {
    border: none;
    text-align: center;
}


.tabla a:hover {
    opacity: 0.8;
}

.editar{
    background-color: none;
    width: 20px;
    height: 20px;
}

